

.animationContainer { 
   display: inline;
   
}



#mantable { 
    width:20vh;
margin-left: 30%;
margin-bottom: -35px;
/* transform: rotateZ(360deg); */

    transition-delay: 2s;
    transition-duration: 3s;



         /* ANIME  */
 animation-name: shakealil; 
 animation-delay: 1s;
animation-duration: 4s; 
animation-iteration-count:infinite; 
animation-direction: alternate; 
        /* ANIME  */ 

}

             /*  Lets make him shake a lil , and light up  */
             @keyframes shakealil {
0% { }
20% {transform: rotateZ(-30deg); }
40% { }
60%  { }
 80%  {    
 }
 100%  { transform: rotateZ(80deg); }
                  
                }








/* ------ Mech gear 1 animations ---------- */

#mechgear1 { 
margin-left:40px;


    width:20vh;
    margin-right: -20px;
    rotate: 13deg;
transition-property: all;
    transition-delay: 4s;
    transition-duration: 3s;

    animation-name: spinner1;

    animation-delay: 3.2s;
animation-duration:8s;
animation-iteration-count: infinite;
}


@keyframes spinner1 {
    0% {  transform: rotateZ('60'); 
    }

    20% { transform: rotateZ('120'); }
    40% {transform: rotateZ('180');} 
    60% { transform: rotateZ('240');}
    80% {transform: rotateZ('300'); }
    100% { transform: rotateZ(-720deg);}
} 


/* ------------------------------------------------------- */




#mechgear2 { 
    width:20vh;
    

    transition-property: all;
        transition-delay: 4s;
        transition-duration: 3s;
        
        animation-name: spinner2;
    
        animation-delay: 3.2s;
    animation-duration:8s;
    
    animation-iteration-count: infinite;
}


@keyframes spinner2 {
    0% {  transform: rotateZ('60'); 
    }

    20% { transform: rotateZ('120'); }
    40% {transform: rotateZ('180');} 
    60% { transform: rotateZ('240');}
    80% {transform: rotateZ('300'); }
    100% { transform: rotateZ(720deg);}
} 
/* ----------------------------------- */



#mechgear3 { 
width: 40vh;
rotate: 14deg;
    height: 100%;
  margin-left: -75px;
  margin-right: 15px;
margin-top: -218px;
    
transition-property: all;
    transition-delay: 4s;
    transition-duration: 3s;

    
    animation-name: spinandslide;
    
    animation-delay: 3.2s;
animation-duration:8s;

animation-iteration-count: infinite;
}

@keyframes spinandslide {
   

    0% {  transform: rotateZ('60'); 
    }

    20% { transform: rotateZ('120'); }
    40% {transform: rotateZ('180');} 
    60% { transform: rotateZ('240');}
    80% {transform: rotateZ('300'); }
    100% { transform: rotateZ(-360deg);}
} 










#mechgear4 { 
    width: 40vh;

        height: 100%;
        margin-top:-126px;
      margin-left: -60px;
      margin-right: 15px;
    

    transition-property: all;
        transition-delay: 4s;
        transition-duration: 3s;
    
        
        animation-name: spinreverse;
        
        animation-delay: 4s;
    animation-duration:6s;
    
    animation-iteration-count: infinite;
    }
    
    @keyframes spinreverse {
       
    
        0% {  transform: rotateZ('60'); 
        }
    
        20% { transform: rotateZ('120'); }
        40% {transform: rotateZ('180');} 
        60% { transform: rotateZ('240');}
        80% {transform: rotateZ('300'); }
        100% { transform: rotateZ(360deg);} 
    } 
    
    
    
#blackdesk  { 
    width: 20vh;

    margin-left: -80px;
    height: 100%;
margin-top: 45px;

 
}


.buttonContainer {  display: inline;
margin-left: -68.7px;
margin-bottom: 45px;
   }


.justthebutton  { 
border: 2px black solid;

height: 18px;  
width: 30px; 


animation-name: colorfade;
animation-direction: alternate;
animation-duration: 3s;
animation-iteration-count: infinite;


}

.justthebutton:hover { 
   
    box-shadow: 4px 12px 12px 20px rgb(150, 68, 150);



}

@keyframes colorfade {
    0% {} 
    20% { }
    40% { } 
    60% { 
    }

    80% { }  
    100%  {     box-shadow: 4px 12px 12px 20px rgb(150, 68, 150); }
}








/* #line {  
    /* border: 2px solid white; */
     /* width: 30%; 
     text-align: center;
    margin-left: 120vh; 
    margin-bottom: -75px; 
    margin-top: 100px;

    animation-delay: 4s;
    animation-duration:6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

animation-name: line;

}
@keyframes line {
    0% {  }

    20%   { }

    40%{ }

    60% { } 

    80% { }
     
    100% {  margin-left:100vh;
    }
} */
 




/* .animationss{ 
    width:30vh;margin-left: 10vh;
} 


#mantable { 
  width:15vh;
    border-radius: 15%;


   
     top: 120px; 
    transition-property:all;
    transition-delay: 1s;
    transition-duration: 3s;
    
/* 3-d Transformation Example 
    transform:rotateZ(20deg); */
  





         /* ANIME  */
/* animation-name: shakealil; 
animation-duration: 4s; 
animation-iteration-count:infinite; 
animation-direction: alternate; */
        /* ANIME  */ 


             /*  Lets make him shake a lil , and light up  */
/* @keyframes shakealil {
    0% { 

    }
    20% {  
         transform: rotateZ(13deg); 
   
    
    }

    40% { 
        transform: rotateZ(-13deg); 
    }
    60% { 
        transform: rotateZ(13deg); 
    }
    80% { 
        background-color: #1a999394;
        border: 3px inset #6ee7e77a;
        box-shadow: 4px 4px 3px 5px #6eb1e7a1;
        transform: rotateZ(-13deg); 
    }
    100% { 
        transform: rotateZ(13deg); 

    }
      
    }
 */






/*  First gear custom mechanix  
 make that gear spin !  */

    /* #mechgear1 { 
        width:15vh;
        border-radius: 15%;
    

       
         top: 120px; 
         left: 23vh;


         animation-name:  spinner1 ;
         animation-delay: 3.6s;
         animation-duration: 7s;
         animation-iteration-count: infinite;
         animation-direction: rev;
        
    }


    @keyframes spinner1 {
        0% {  transform: rotateZ('60'); 
        }

        20% { transform: rotateZ('120'); }
        40% {transform: rotateZ('180');} 
        60% { transform: rotateZ('240');}
        80% {transform: rotateZ('300'); }
        100% { transform: rotateZ(360deg);}
    } */




    /* #mechgear2 { 
        animation-delay: 3.6s;
        width:15vh;
        border-radius: 15%;
    
    
       
         top: 120px; 
         left: 36.5vh;


         animation-name:  spinner1 ;
    
         animation-duration: 7s;
         /* animation-iteration-count: infinite; */


/* 
    @keyframes spinner1 {
        0% {  transform: rotateZ('60'); 
        }

        20% { transform: rotateZ('120'); }
        40% {transform: rotateZ('180');} 
        60% { transform: rotateZ('240');}
        80% {transform: rotateZ('300'); }
        100% { transform: rotateZ(360deg);}
    }  */ 