

@keyframes glowing { 
    0% { border: 2px solid blue; }
    50% { border: 4px solid rgb(0, 255, 200); } 
    100% {  border: 2px solid blue; }
}


.trophyIcon{ 
animation-name: glowing;
animation-duration: .5s;
animation-iteration-count: infinite;
max-width: 200px;
border-radius: 50%;
}